<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boxes</title>
    <link rel="stylesheet" href="boxesstyle.css">
</head>
<body>
<div id="container">
    <header>
        header
        <nav>nav</nav>
    </header>


    <div id="sectionLeft">
        <section>Section left
            <p>
                <headerTwo>header</headerTwo>
            </p>

            <div id="containerArticle">
                <p>article
                </p>
                <p>
                    <headerThree>
                        header
                    </headerThree>
                </p>

                <p>
                    <para>
                        para
                    </para>
                </p>
                <p>
                    <paraTwo>
                        para
                    </paraTwo>

                    <aside>
                    aside
                    </aside>
                </p>
                <footer>
                    footer
                </footer>
                </p>
            </div>
        </section>
    </div>

    <div id="containerRight">
        <div id="sectionRight">
            <section>Section right</section>
        </div>
    </div>

</div>
</body>
</html>